/* MAIN PART */
main
{
    height: fit-content;
    background-color: rgb(44, 47, 46);
}


#back
{
    position: relative;
    background-image: url(images/back_main.jpg);
    background-position: center;
    background-size: cover;
    /* height: 200px; */
}
#back > div:not(.search)
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#back .search
{
    position: absolute;
    bottom: 10%;
    left: 10%;
    right: 10%;
}
.search h1
{
    color: white;
    font-weight: normal;
    text-shadow: 5px 0 5px #000;
}
.search .tabs
{
    margin-bottom: -10px;
}
.search .tabs > li
{
    display: inline-block;
    background-color: rgb(33, 31, 30);
    z-index: -1;
    opacity: 0.5;
    padding: 5px;
    padding-bottom: 15px;
    cursor: pointer;
    /* margin-left: -5px; */
}
.search .pages
{
    display: block;
    height: fit-content;
    z-index: 1;
    background-color: rgb(33, 31, 30);
    padding: 25px;
}
.pages > li
{
    margin: 0;
    height: fit-content;
    width: 100%;
}
#tour_tab
{
}
#tour_tab > div
{
    height: fit-content;
}
#tour_tab input
{
    border: 1px solid black;
    width: 99.5%;
    margin: 5px auto;
    height: 80px;
}
#tour_tab button
{
    width: 100%;
    /* height: 100%; */
    margin: 0 auto;
    border-radius: 0;
    background-color: rgb(44, 47, 46);
}
#tour_tab button h3
{
    margin: 0;
}

.enter_words
{
    margin: 45px auto;
    width: 60%;
    padding: 0 35px;
}
.enter_words > hr
{
    background-color: white;
    height: 5px;
}
.enter_words > h1
{
    margin-bottom: 25px;
}
.enter_words > h2
{
    margin-top: 25px;
}
.enter_words > h1, .enter_words > h2
{
    text-align: center;
}

#attractions
{
    margin: 0 auto;
    padding: 25px 35px;
    background-color: #2A2729;
    margin-bottom: 35px;
}
#attractions > h1
{
    margin-bottom: 15px;
}
#attractions > h2
{
    word-break: break-all;
    opacity: 0.75;
    margin-bottom: 10px;
    color: #938C90;
}

.img
{
    background-position: center;
    background-size: cover;
}

#picture_box > div
{
    margin-bottom: 15px;
}

#picture_box .img
{
    height: 1000px;
}

#picture_box .img ~ h2
{
    text-align: center;
}

#picture_box  #_1
{
    background-image: url(images/spain.jpg);
}
#picture_box  #_2
{
    background-image: url(images/greece.jpg);
}
#picture_box  #_3
{
    background-image: url(images/turkey.jpg);
}

#tours
{
    margin: 45px auto;
    height: fit-content;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.25);
    padding: 25px 35px;
    background-color: rgb(33, 31, 30);
}
#tours > button
{
    display: block;
    margin: 25px auto;
    background-color: transparent;
}

#tours_box > div 
{
    height: 100%;
    overflow: hidden;
}
#tours_box > div img
{
    width: 100%;
    /* height: 50%; */
    /* height: 600px; */
}
#tours_box img ~ h2
{
    font-weight: bold;
}
#tours_box img ~ h3
{
    text-align: justify;   
    color: #938C90;
}
/* #tours_box #_1 > img
{
    background-image: url(images/hilovo.jpg);
}
#tours_box #_2 > img
{
    background-image: url(images/ship.jpg);
}
#tours_box #_3 > img
{
    background-image: url(images/red_area.jpg);
} 
#tours_box #_4 > img
{
    background-image: url(images/mountain.jpg);
} */

#hotel
{
    height: 1400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/hotel.jpg);
    background-position: center;
    background-attachment: fixed;
    background-position: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
}
#hotel > div
{
    width: 100%;
    margin: 0;
    padding: 0;
}
#hotel > div > div
{
    display: block;
    margin: 25px auto;
    padding: 15px 15px;
    width: inherit;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.25);
}
#hotel h2, #hotel button
{   
    font-weight: normal;
}
#hotel h2, #hotel h1
{
    text-align: center;
}
#hotel > div > div h2
{
    color: #938C90;
}
#hotel button
{
    display: block;
    margin: 0 auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.85);
}

#reviews
{
    padding: 15px 25px;
}
/* #reviews > .enter_words > hr
{
    background-color: white;
} */
#reviews button
{
    display: block;
    background-color: transparent;
    margin: 45px auto;
}

#comments
{
    margin: 0 auto;
}
#comments .img
{
    border-radius: 50%;
}
#commetns .img::after
{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.comment
{
    padding-bottom: 15px;
}
.comment h3
{
    color: #938C90;
}

#comments #_1 .img
{
    background-image: url(images/people_1.jpg);
}
#comments #_2 .img
{
    background-image: url(images/people_2.jpg);
}
#comments #_3 .img
{
    background-image: url(images/people_3.jpg);
}
#comments #_4 .img
{
    background-image: url(images/people_4.jpg);
}

.icons
{
    margin: 0 auto;
    /* width: 150px; */
}
.icons > i 
{
    font-size: 3em;
    margin: 10px auto;
    color: rgb(198,190,123);
}
.icons > i:hover
{
    cursor: pointer;
    color: white;
}

@media all and (max-width: 1440px)
{
    /* #back
    {
        height: 750px;
    } */

    .enter_words hr
    {
        height: 2px;
    }

    #attractions .img
    {
        height: 500px;
    }

    #tours_box .img
    {
        height: 300px;
    }

    #hotel
    {
        height: 750px;
    }

    #tour_tab input
    {
        height: 50px;
    } 
}
@media all and (max-width: 1024px)
{
    /* #back
    {
        height: 600px;
    } */

    #hotel
    {
        height: 650px;
    }

    #tours_box .img
    {
        height: 220px
    }

    #tour_tab input
    {
        height: 40px;
    } 
    #tour_tab button
    {
        height: 100%;
        margin-top: 20px;
    }
}
@media all and (max-width: 768px)
{

    #attractions .img
    {
        height: 300px;
    }

    .enter_words
    {
        width: 100%;
    }

    #hotel
    {
        height: 475px;
    }

}
@media all and (max-width: 425px)
{
    /* #attractions h1, .enter_words h1, #hotel h1, #comments h1
    {
        font-size: calc(1.5em + 1vw);
    }

    #attractions h2, .enter_words h2, #tours h2, #hotel h2, #comments h2
    {
        font-size: calc(1.25em + 1vw);
    }

    #tours h3, #comments h3
    {
        font-size: calc(0.7em + 1vw);
    } */

}
@media all and (max-width: 320px)
{
    #tours button
    {
        height: 80px;
        border-radius: 40px;
    }
}
/* ANIMATION CLASSES */
.search .tabs .active
{
    opacity: 1;
}