main
{
    display: flex;
}

main > article, main > aside
{
    padding-top: 150px;
    /* width: 70%; */
}
main > article > div:nth-of-type(even)
{
    background-color: #2A2729;
}
main > article > div:nth-of-type(odd)
{
    background-color: rgb(44, 47, 46);
}

main > aside
{
    /* width: 30%; */
    border-left: 1px solid black;
    /* padding: 0 10px; */
}
main > aside > div
{
    position: sticky;
    top: 120px;
    border: 0.5px solid black;
    border-left: none;
}
main > aside a
{
    display: block;
    color: #938C90;
    padding-left: 15px;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
}

#why_we
{
    /* text-align: center; */
}
#why_we > h1
{
    text-align: center;
    background-color: #2A2729;
    padding: 30px;
}
#essential
{

}