
main
{
    display: flex;
    position: relative;
    width: 100%;
}
main > article
{
    width: 75%;
}
main > article, main > aside
{
    display: inline-block;
    padding-top: 100px;
    /* width: 70%; */   
}
main > article > div
{
    padding-top: 50px;
    padding-bottom: 15px;
}
main > article > div:nth-child(3n) /* 0, 3, 6  */
{
    background-color: #2A2729;
}
main > article > div:nth-child(3n + 1) /* 1, 4, 7 */
{
    background-color: rgb(44, 47, 46);
}
main > article > div:nth-child(3n + 2) /* 2, 5, 8 */
{
    background-color: rgb(33, 31, 30);
}
/* ____________________________________ */
main > article > div:nth-child(3n) > h1
{
    background-color: rgb(33, 31, 30);
}
main > article > div:nth-child(3n + 1) > h1
{
    background-color:  #2A2729;
}
main > article > div:nth-child(3n + 2) > h1
{
    background-color: rgb(44, 47, 46);
}
main > article > div > h1
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    /* padding: 30px; */
}

main > aside
{
    transition: background-color .5s cubic-bezier(0.33, 1, 0.68, 1), width 1s cubic-bezier(0.65, 0, 0.35, 1);
    width: 25%;
    /* overflow: hidden; */
}
main > aside i.fa
{
    display: none;
    /* margin: 0 auto;  */
    font-size: calc(1.5em + 1vw);
    color: rgb(198, 190, 123);
}
main > aside > div /* #right_menu */
{
    position: sticky;
    top: 100px;
}
main > aside a
{
}
/* #right_menu
{
} */
#right_menu a
{
    display: block;
    padding-left: 15px;
    margin-right: 10px;
    border: 0.5px solid black;
    border-left: none;
    /* display: inline-block; */
    font-size: calc(0.6em + 1vw);
    color: #938C90;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: none;
    z-index: 0;
    max-width: 0;
    overflow: hidden;
    transition: box-shadow 0.25s cubic-bezier(0.25, 1, 0.5, 1), color 0.2s linear, max-width 1s cubic-bezier(0.83, 0, 0.17, 1);
}
#right_menu a:hover
{
    cursor: pointer;
    box-shadow: 5px 0px 9px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
}
#right_menu a:nth-child(3n) /* 0, 3, 6 */
{
    background-color: rgb(33, 31, 30);
}
#right_menu a:nth-child(3n + 1) /* 1, 4, 7 */
{
    background-color:  #2A2729;
}
#right_menu a:nth-child(3n + 2) /* 2, 5, 8 */
{
    background-color: rgb(44, 47, 46);  
}

.img
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

article > div > div
{
    padding: 0 25px;
    margin: 10px 0;
    /* margin-bottom: 15px; */
}
#why_we
{
    text-align: left;
    /* text-align: center; */
}
#why_we .img
{
    background-image: url(./images/we.jpg);
    /* width: 100%; */
}
/* #why_we .carousel-item img
{

} */

#reviews
{

} 
#reviews > h1
{
    margin-bottom: 15px;
}
.block_comment
{
    padding: 0 15px;
    padding-left: 75px;
}
.comment
{
    justify-content: center;
    margin-bottom: 15px;    
}
.comment > .img
{
    border-radius: 50%;
    background-image: url(./images/face_0.jpg);
}
.comment  h3
{
    color: #938C90;
}
#essential
{
}
#job div h1
{
    font-size: calc(1em + 1vw);
}
#job .img
{
    height: 75%;
    /* width: 100%; */
    background-image: url(./images/spb_0.jpg);
}

@media all and (max-width: 991px)
{
    main > article
    {
        width: 95%;
        /* flex-basis: 100%; */
    }
    #why_we
    {
        padding-top: 0;
    }
    main > article > div
    {
        padding-top: 10px;
    }
    main > aside
    {
        position: absolute;
        z-index: 1;
        right: 0;
        width: 5%;
        top: 0px;
        bottom: 0px;
        background-color: rgb(44, 47, 46);
        border-left: 1px solid black;
        /* transition: ; */
        /* transtition: ; */
        /* left: 5px; */
        /* overflow: hidden; */
        /* max-width: 0; */
    }
    main > aside i.fa
    {
        position: sticky;
        top: 50%;
        bottom: 50%;
        display: inline-block;
        margin-left: 5px;
        /* padding: 0 8px; */
        /* padding-left: 3px; */
        transform: rotate(0deg);
        transition: transform 1s linear, padding 1s linear;
        /* height: 15px;
        width: 15px */
        /* bottom: 50%; */
    }
    #right_menu
    {
        opacity: 0;
        display: none;
        margin-left: 35px;
        transition: opacity 1s cubic-bezier(0.16, 1, 0.3, 1);
    }
    #right_menu a
    {
        max-width: 0;
        padding: 0;
        margin: 0;
        z-index: 3;
        /* margin-left: 10px; */
        padding-right: 10px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border-right: none;
        border-left: 1px solid black;
        font-size: calc(1.5em + 1vw)
    }
    main > aside.expand
    {
        width: 95%;
    }
    main > aside.expand i.fa
    {
        transform: rotate(180deg);
    }
    main > aside.expand #right_menu
    {
        display: block;
        opacity: 1;
    }
    main > aside.expand #right_menu a
    {
        max-width: 100%;
    }
    #why_we .img
    {
        height: 350px;
        margin-bottom: 10px;
    }
    .stick
    {
        display: none;
    }
}

/* ANIMATION CLASSES */
#right_menu a.active
{
    color: rgb(198, 190, 123);
}
/* #right_menu a.show
{
    max-width: 100%;
} */